<div class="text-right my-2">
  <a
  class="btn btn-${currentRes == '720p' ? 'warning' : 'success'}"
  href="${item.torrents[currentLang][currentRes].url}"
  role="button"
  title="Provider: ${item.torrents[currentLang][currentRes].provider},
         Seeds: ${item.torrents[currentLang][currentRes].seed},
         Peers: ${item.torrents[currentLang][currentRes].peer}">
    <i class="fas fa-magnet"></i>
    Download ${currentRes}
    <span>(${item.torrents[currentLang][currentRes].filesize})</span>
  </a>
</div>
